@{
    ViewData["Title"] = "Большой театр";
}
@model IEnumerable<Attractions.Models.dboModels.Feedback>
<div class="img-container my-5">
    <img class="city-main-img" src="/Image/Bolshoi TheaterHeader.png" />
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Немного из истории</h2>
        <p>
            Большой театр — это старейший музыкальный театр России, расположенный в центре Москвы на Театральной площади.
            Основан в 1776 году, полное название — Государственный Академический Большой театр оперы и балета России.
            В театре представлены различные жанры, включая балет и оперу. <br>
        </p>
        <h2 class="kiwi-maru-regular text-center my-5">Время работы</h2>
        <p>
            Для посещения Большого театра необходимо приобрести билеты в кассах театра, на официальном сайте или у 
            туристических агентств. Билеты обычно продаются за несколько месяцев до представления.<br>
        </p>
        <p><b>Адрес: Театральная площадь, 1</b></p>
        <div class="btn-container">
            <a href="https://bolshoi.ru/" class="btn btn-2">Купить билет</a>
        </div>
    </div>
</div>
<div class="items py-5 text-center">
    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center">
            Фотографии
        </h2>
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/Bolshoi Theater1.png" alt="Большой театр 1">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/Bolshoi Theater2.png" alt="Большой театр 2">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/Bolshoi Theater3.png" alt="Большой театр 3">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/Bolshoi Theater4.png" alt="Большой театр 4">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/Bolshoi Theater5.png" alt="Большой театр 5">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/Bolshoi Theater6.png" alt="Большой театр 6">
    </div>
</div>

<div class="img-container mb-5">
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Поделитесь мнением</h2>


        <form method="post" class="form-reviews" asp-controller="Moscow" asp-action="BolshoiTheater">
            <div class="form-group">
                <input type="hidden" name="Id_Sight" value="8" />
                <br><label>Представтесь</label><br>
                <input class="mb-2" name="NameSender" type="text" />
                <textarea class="form-control" placeholder="Ваш отзыв" name="FeedBackText"></textarea>
                <div class="stars">
                    <div class="star-group">
                        <input type="radio" class="star" id="one" value="1" name="Ball" checked>
                        <input type="radio" class="star" id="two" value="2" name="Ball">
                        <input type="radio" class="star" id="three" value="3" name="Ball">
                        <input type="radio" class="star" id="four" value="4" name="Ball">
                        <input type="radio" class="star" id="five" value="5" name="Ball">
                    </div>

                </div>
                <button class="btn-container btn btn-2" type="submit">
                    Отправить
                </button>
            </div>
        </form>
        <div>
            <h2 class="kiwi-maru-regular text-center my-5">Отзывы</h2>
            <table class="table table-info">

                <tbody>
                    @foreach (var mes in Model)
                    {
                        <tr>
                            <td>@mes.NameSender</td>
                            <td>@mes.fb_datatime.ToShortDateString()</td>
                            <td>@mes.FeedBackText</td>
                            <td>@mes.Ball</td>
                        </tr>
                    }
                </tbody>
                <caption>>:^) Всего: @Model.Count()</caption>
            </table>
        </div>

    </div>
</div>
